/*Override Layout css*/
nav{
    position: relative;
}

/*For MS Edge Browser */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* CSS for the input box */

.input-box i{
    font-size: 1rem;
    cursor: pointer;
    display: none;
}

.input-box.focused i{
    display: block;
}

.input-box i:hover{
    opacity: 0.65;
}

.input-box{
    margin-top: 5px;
    background: #ffffff;
    display: flex;
    padding: 4px 4px;
    border-radius: 5px;
    align-items: center;
    border: 1px solid transparent;
}

.input-box.focused{
    border: 1px solid black;
}


main{
    margin-top: 0;
    padding-bottom: 3.5rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}


.form-container {
    background-color: var(--clr-secondary-background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 420px;
    padding: 20px;
    border: 1px solid var(--clr-secondary-400);
    border-radius: 20px;
    box-shadow: 0px 0px 8px var(--clr-secondary-400);
}

#login-form {
    width: 80%;  
}

.title-line {
    border-bottom: 2px solid var(--clr-secondary-400);
    width: 30%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.field-container {
    margin-bottom: 30px;
}

#email, #password {
    display: block;
    width: 100%;
    height: 15pt;
}

.submit-btn {
    background-color: var(--clr-primary);
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.submit-btn:hover {
   background-color: var(--clr-primary-dark);
}

.register-link {
    margin-bottom: 20px;
    text-align: center;
}

 /* Override the dropdown navigation bar height in layout.css*/
 .dropdown-nav-bar.open{
    height: 90px;
}