hr{
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.bold{
    font-weight: bold;
}

.container{
    border: 1px solid var(--clr-secondary-background);
    box-shadow: 0px 0px 8px var(--clr-secondary-400);
    width: 88%;
    padding: 1rem;
    margin: auto;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.customer-details{
    margin-bottom: 1rem;
}

.customer-details > select{
    display: block;
    width: 100%;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.25rem;
}

.customer-details h2{
    margin-bottom: 0.5rem;
}
.customer-details p{
    margin-bottom: 0.25rem;
}

.order-details {
    width: 100%;
    border-collapse: collapse; 
    margin: 1rem 0;
}

.order-details thead > tr{
    background-color: var(--clr-secondary-background);
    border: 1px solid var(--clr-secondary-400);
}

.order-details thead th{
    padding: 0.5rem 0;
}

.order-details tbody > tr {
    padding-bottom: 2rem; 
    border: 1px solid var(--clr-secondary-400);
}

.order-details td {
    padding: 1rem; 
}

.order-details tbody > tr:not(:last-child) td{
    border-bottom: 1px solid var(--clr-secondary-400); 
}
.product-image{
    display: block;
    height: 200px;
    margin: auto;
    object-fit: cover;
}

.center{
    text-align: center;
}

.product-name{
    max-height: 200px; /* Adjust the maximum width as needed */
    font-weight: bold;
    overflow: hidden;
    line-height: 20px;
}

.total-details{
    margin: 1rem 0;
}

.price-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-section .small-title{
    font-weight: 1rem;
}

.price-section .price{
    font-weight: 0.8rem;
}

.price-section .grand-total-label{
    font-size: 2rem;
    font-weight: bold;
}

.price-section .grand-total{
    font-size: 2rem;
}
.price-section.grand{
    margin-top: 1rem;
}

.action-section{
    display: flex;
    justify-content: flex-end;
}

.button{
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    cursor: pointer;
}

.primary{
    background-color: var(--clr-primary);
    color: white;
    transition: background-color .2s;
}

.button.primary:hover{
    background-color: var(--clr-primary-dark);
    border: 1px solid var(--clr-primary-800);
}

.secondary{
    background-color: transparent;
    border: 1px solid var(--clr-secondary-400);
    transition: background-color .2s;
}

.button.secondary:hover{
    background-color: var(--clr-secondary-800);
    color: white;
    border: 1px solid var(--clr-secondary-400);
}