/*----------  Manage Product Page  ----------*/

.title-container>a {
    text-decoration: none;
    border-radius: 0.5rem;
    background-color: var(--clr-primary);
    padding: 8px 15px;
    color: white;
}

.title-container>a:hover {
    background-color: var(--clr-primary-dark);
}

.title-container>a:active {
    background-color: var(--clr-primary-dark);
}

.product-list {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.product-list>thead>tr>th {
    padding: 1rem 0;
    border-top: 1px solid var(--clr-secondary-400);
    border-bottom: 1px solid var(--clr-secondary-400);
}

.product-list>tbody>tr>td {
    padding: 1rem;
}

.product-list>tbody>tr:not(:last-child) {
    border-bottom: 1px solid var(--clr-secondary-400);
}

.product-list>tbody>tr>td {
    height: 150px;
}

.product-list>tbody>tr>td>img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.product-name-column {
    height: 150px;
}

.product-name-column>p {
    height: 126px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 21px;
}

.action-btn-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.action-btn-section>a,
.action-btn-section>button {
    font-size: 2rem;
    cursor: pointer;
}



/*----------  Manage Order Page  ----------*/
#manage-order-selector {
    margin: 1.5rem 1rem 1rem 1rem;
    padding: 1rem;
    display: block;
    border: 1px solid var(--clr-secondary-400);
    border-radius: 0.5rem;
    position: relative;
}

#filter-title{
    font-size: 1.5rem;
    position: absolute;
    top: -1rem;
    background-color: var(--clr-secondary-background);
    padding: 0 0.25rem;
}


.search-filter {
    display: flex;
    padding-top: 0.5rem;
}

.search-filter-col-left,
.search-filter-col-right {
    flex: 1;
    min-width: 0;
}

.search-filter p {
    font-size: 1.25rem;
    margin-bottom: 0.2rem;
}

/* Left Column */
#order-form-date-container,
#order-to-date-container {
    display: flex;
    align-items: center;
}

#order-form-date-container label,
#order-to-date-container label {
    font-size: 1.1rem;
    text-align: right;
    margin-right: 16px;
    width: 10%;
}

#order-form-date-container input,
#order-to-date-container input {
    width: 90%;
}

#order-form-date-container {
    margin-bottom: 2.5rem;
}

/* Right Column */
.search-filter-col-right {
    margin-left: 24px;
}

#status-container,
#search-container {
    margin-bottom: 1rem;
}

#status-container select {
    width: 100%;
}

#search-container input {
    width: 100%;
}

.action-button-wrapper button {
    padding: 8px 16px;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color .125s;
}

/* Filter Button */
.action-button-wrapper button:first-child {
    color: white;
    background-color: var(--clr-primary);
    margin-right: 1rem;
    font-weight: bold;
}

.action-button-wrapper button:first-child:hover {
    background-color: var(--clr-primary-dark);
    border: 1px solid var(--clr-primary-900);
}

.action-button-wrapper button:first-child:active {
    background-color: var(--clr-primary-dark);
}


/* Reset Button */
.action-button-wrapper button:last-child {
    background-color: var(--clr-secondary-100);
    border: 1px solid black;
}

.action-button-wrapper button:last-child:hover {
    background-color: var(--clr-secondary-900);
    border: 1px solid var(--clr-secondary-400);
    color: white;
}

.action-button-wrapper button:last-child:active {
    background-color: var(--clr-secondary-900);
    color: white;
}


/* Order List Table */
.order-result {
    padding: 1rem;
    padding-top: 0;
}

.order-list {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.order-list>thead>tr>th {
    padding: 1rem 0.5rem;
    border-top: 1px solid var(--clr-secondary-400);
    border-bottom: 1px solid var(--clr-secondary-400);
}

.order-list th {
    width: auto;
}

.order-list th:nth-child(5) {
    width: 20%;
}

.order-list>tbody>tr>td {
    padding: 1rem 1rem;
}

.order-list tr {
    border-left: 1px solid var(--clr-secondary-400);
    border-right: 1px solid var(--clr-secondary-400);
    border-bottom: 1px solid var(--clr-secondary-400);
}

td[data-status="processing"] {
    color: red;
}

td[data-status="shipping"] {
    color: blue;
}

td[data-status="completed"] {
    color: green;
}

.action-column {
    width: auto;
}

.action-column>.arrange-shipment{
    background-color: var(--clr-urgent);
}

.action-column>.arrange-shipment:hover {
    background-color: var(--clr-urgent-hover);
}

.action-column>.arrange-shipment:focus {
    background-color: var(--clr-urgent-focus);
}

.action-column>button {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid var(--clr-primary-100);
    background-color: var(--clr-primary);
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
}

.action-column>button:hover {
    background-color: var(--clr-primary-800);
}

.action-column>button:focus {
    background-color: var(--clr-primary-900);
}

/*Shipping Form */
.delivery-dialog {
    top: 50%;
    /* Position the dialog at the center vertically */
    left: 50%;
    /* Position the dialog at the center horizontally */
    transform: translate(-50%, -50%);
    /* Center the dialog */
    z-index: 10;
    border: 1px solid var(--clr-secondary-400);
    box-shadow: 2px 2px 12px var(--clr-secondary-400);
    background-color: white;
    border-radius: 0.5rem;
    min-width: 50%;
    max-width: 90%;
    overflow: auto;
    /* Add scrollbars if content overflows */
}

.shipping-form {
    padding: 1rem;
}

.shipping-form>p {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.content {
    font-weight: normal;
}

.shipping-form label {
    display: block;
    margin-bottom: 0.25rem;
}

.input-container {
    border: 1px solid black;
    background-color: white;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.input-container input {
    display: block;
    width: 100%;
}

.delivery-action-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
}

.delivery-action-button>button {
    padding: 8px 12px;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color .125s;
}

.delivery-action-button>button:first-child {
    margin-right: 0.5rem;
    background-color: var(--clr-secondary-100);
    border: 1px solid black;
}

.delivery-action-button>button:first-child:hover {
    background-color: var(--clr-secondary-900);
    border: 1px solid var(--clr-secondary-400);
    color: white;
}

.delivery-action-button>button:first-child:active {
    background-color: var(--clr-secondary-900);
    color: white;
}

.delivery-action-button>button:last-child {
    color: white;
    background-color: var(--clr-primary);
}

.delivery-action-button>button:last-child:hover {
    background-color: var(--clr-primary-dark);
    border: 1px solid var(--clr-primary-900);
}

.delivery-action-button>button:last-child:active {
    background-color: var(--clr-primary-dark);
}

/* View Details Dialog */
.view-details-dialog {
    top: 50%;
    /* Position the dialog at the center vertically */
    left: 50%;
    /* Position the dialog at the center horizontally */
    transform: translate(-50%, -50%);
    /* Center the dialog */
    z-index: 10;
    border: 1px solid var(--clr-secondary-400);
    box-shadow: 2px 2px 12px var(--clr-secondary-400);
    background-color: white;
    border-radius: 0.5rem;
    min-width: 50%;
    max-width: 90%;
    overflow: auto;
    /* Add scrollbars if content overflows */
    padding: 1rem;
}

.view-details-dialog>p {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.view-details-dialog content {
    font-weight: normal;
}

.view-details-dialog>button {
    display: inline-block;
    width: 100%;
    padding: 6px 8px;
    background-color: var(--clr-secondary-100);
    border: 1px solid black;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.view-details-dialog>button:hover {
    color: white;
    background-color: var(--clr-secondary-900);
    border: 1px solid var(--clr-secondary-400);
}

.view-details-dialog>button:active{
    background-color: var(--clr-secondary-900);
    color: white;

}


/*----------  Sales Report Page  ----------*/

/* View Sales Selector */
#report {
    width: 95%;
    margin: 2rem auto;

}

.view-selector>.filter-container {
    width: 100%;
    display: grid;
    grid-column-gap: 1rem;
    grid-auto-flow: column;
    overflow-x: auto;
    margin-bottom: 1.5rem;
}

#report-view-selector>.filter-container {
    grid-template-columns: repeat(6, minmax(60px, 1fr));
}

.dropdown-box,
.view-selector input {
    width: auto;
    font-size: 1.2rem;
    padding: 5px 8px;
}


.form-date-container,
.end-date-container {
    min-width: 60px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
}

.view-selector>.filter-container>.view-button {
    white-space: nowrap;
}

.form-date-container label,
.end-date-container label {
    margin-right: 0.8rem;
    font-size: 1.2rem;
}

.view-selector>.filter-container>.view-button {
    font-weight: bold;
    white-space: nowrap;
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    color: white;
    background-color: var(--clr-primary);
    cursor: pointer;
    transition: background-color .15s ease-in-out;
}

.view-selector>.filter-container>.view-button:hover{
    background-color: var(--clr-primary-dark);
    border: 1px solid var(--clr-primary-900);
}

.view-selector>.filter-container>.view-button:active{
    background-color: var(--clr-primary-dark);
}

.section-container{
    border: 1px solid var(--clr-secondary-400);
    position: relative;
    padding: 2rem 1rem 1rem 1rem;
    border-radius: 0.25rem;
    margin-bottom: 3rem;
}

.section-container > .title{
    position: absolute;
    padding: 0 0.25rem;
    top: -1rem;
    left: 0.5rem;
    background-color: var(--clr-secondary-background);
}

/* Data Table */
.data-table {
    border: none;
    border-collapse: collapse;
    width: 100%;
}

.data-table>thead>tr>th {
    border: 1px solid #D9D9D9;
    background-color: #D9D9D9;
    padding: 0.5rem 1rem;
}

.data-table>tbody>tr>td:first-child {
    border-left: 1px solid #D9D9D9;
}

.data-table>tbody>tr>td:last-child {
    border-right: 1px solid #D9D9D9;
}

.data-table>tbody>tr>td {
    border-bottom: 1px solid #D9D9D9;
    background-color: #F4F4F4;
    padding: 1rem;
    text-align: center;
}


/*Graph Section */

#graph-view-selector>.filter-container {
    grid-template-columns: repeat(6, 1fr);
}

#graph-view-selector>.filter-container>.view-button {
    grid-column: 6;
}

#graph-view-selector .year-selector>label {
    margin-right: 1rem;
    font-size: 1.2rem;
}

#graph-view-selector .year-selector {
    justify-content: flex-start;
    grid-column: span 2;
}

#graph-view-selector>.filter-container>.dropdown-box {
    grid-column: span 2;
    width: 100%;
}

#ps-graph-view-selector .month-selector,
#ps-graph-view-selector .year-selector {
    justify-content: flex-start;
    grid-column: span 2;
}


#ps-graph-view-selector .year-selector>label,
#ps-graph-view-selector .month-selector>label {
    margin-right: 1rem;
    font-size: 1.2rem;
}

#ps-graph-view-selector>.filter-container>.view-button {
    grid-column: 6;
}



.delete-confirm-dialog {
    top: 50%;
    /* Position the dialog at the center vertically */
    left: 50%;
    /* Position the dialog at the center horizontally */
    transform: translate(-50%, -50%);
    /* Center the dialog */
    z-index: 10;
    border: 1px solid var(--clr-secondary-400);
    box-shadow: 2px 2px 12px var(--clr-secondary-400);
    background-color: white;
    background-clip: padding-box;
    border-radius: 0.5rem;
    max-width: 90%;
    overflow: auto;
    /* Add scrollbars if content overflows */
}

.modal-footer {
    display: flex;
    padding-top: 1rem;
    justify-content: flex-end;
}

.action-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-left: 0.5rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

.delete-confirm-dialog form {
    padding: 1rem;
}

#cancel-btn {
    border: 1px solid transparent;
}

#cancel-btn:hover {
    background-color: var(--clr-secondary-900);
    color: white;
    border: 1px solid var(--clr-secondary-400);
}

#cancel-btn:active{
    background-color: var(--clr-secondary-900);
    color: white;
}

#submit-btn {
    color: white;
    background-color: var(--clr-primary);
    border: 1px solid transparent;
}

#submit-btn:hover {
    background-color: var(--clr-primary-dark);
    border: 1px solid var(--clr-primary-900);
}

#submit-btn:active {
    background-color: var(--clr-primary-dark);
}