/* Buyer Page */

/* My Address Page */

/* My Address */
.title-container>#add-address {
    border-radius: 0.5rem;
    background-color: var(--clr-primary);
    color: white;
    padding: 8px 15px;
    cursor: pointer;
}

.title-container > #add-address:hover{
    background-color: var(--clr-primary-dark);
}

.title-container>#add-address:focus{
    background-color: var(--clr-primary-dark);
    border: 1px solid var(--clr-primary-900);
}

#address-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    grid-row-gap: 1.2rem;
}

/* Add Address Button */
#add-address>i {
    margin-right: 0.5rem;
}

/* Address Card */
.address-card {
    padding: 1rem;
    border: 1px solid black;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: minmax(200px, 3fr) minmax(100px, 1fr);
    grid-auto-rows: auto
}

.address-preview {
    min-width: 200px;
    overflow: hidden;
    max-width: 3fr;
}


.address-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.address-preview>p {
    color: rgba(121, 119, 119, 0.8);
}

/* Button Container */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Action Button */
.action-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
}

.button-container button {
    cursor: pointer;
}

.action-btn>button {
    font-size: 1.5rem;
}

/* Edit Button Override*/
.action-btn>button:first-child {
    margin-right: 0.5rem;
}

.default-btn {
    width: 100%;
    background-color: var(--clr-secondary-background);
    padding: 0.5rem 0.8rem;
    border: 1px solid var(--clr-secondary-text);
}

.default-btn:disabled{
    cursor: default;
}

.default-btn:not(:disabled):hover{
    background-color: var(--clr-secondary-800);
    color: white;
}


/* Add New Address Form */
.address-dialog {
    top: 50%;
    /* Position the dialog at the center vertically */
    left: 50%;
    /* Position the dialog at the center horizontally */
    transform: translate(-50%, -50%);
    /* Center the dialog */
    z-index: 10;
    border: 1px solid var(--clr-secondary-400);
    box-shadow: 2px 2px 12px var(--clr-secondary-400);
    background-color: white;
    border-radius: 0.5rem;
    min-width: 50%;
    max-width: 90%;
    overflow: auto;
    /* Add scrollbars if content overflows */
}

.address-form {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding: 1rem;
}

.address-form>p {
    font-size: 1.2rem;
    font-weight: bold;
    grid-column: span 4;
}

.address-form>input,.address-form>textarea{
    background-color: var(--clr-secondary-background);
    color: var(--clr-secondary-900);
}

.address-form>input[type="text"],
.address-form>textarea {
    padding: 0.5rem 1rem;
}

.address-form>input[name="city"],
.address-form>input[name="state"] {
    grid-column: span 2;
}


.address-form>input[name="postal_code"] {
    grid-column: span 4;
}

.address-form>textarea[name="address"] {
    width: 100%;
    grid-column: span 4;
    grid-row: span 4;
    resize: none;
}

.address-form>.checkbox-container {
    grid-column: span 4;
}

.address-form>.checkbox-container>input[type="checkbox"] {
    margin-right: 0.5rem;
}

.address-form>button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.address-form>.cancel-btn {
    grid-column: 3;
    border: 1px solid black;
    background-color: var(--clr-secondary-100);
}

.address-form>.cancel-btn:hover{
    background-color: var(--clr-secondary-900);
    border: 1px solid var(--clr-secondary-400);
    color: white;
}

.address-form>.submit-btn {
    grid-column: 4;
    color: white;
    background-color: var(--clr-primary);
    border: 1px solid transparent;
}

.address-form>.submit-btn:hover{
    background-color: var(--clr-primary-dark);
    border: 1px solid var(--clr-primary-900);
}

.address-form>.submit-btn:active {
    background-color: var(--clr-primary-dark);
}

.address-form>#checkbox-container{
    display: flex;
    align-items: center;
}

#checkbox-container > input[type=checkbox]{
    margin-right: 0.5rem;
}

/*----------  My Order Table  ----------*/

.my-order-list {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.my-order-list>thead>tr>th {
    padding: 1rem 0;
    border-top: 1px solid var(--clr-secondary-400);
    border-bottom: 1px solid var(--clr-secondary-400);
}

.my-order-list>tbody>tr>td {
    padding: 1rem;
}

.my-order-list>tbody>tr:not(:last-child) {
    border-bottom: 1px solid var(--clr-secondary-400);
}

.my-order-list .order-num-column {
    width: 5%;
}

.my-order-list .product-image-column {
    width: 15%;
}

.product-image-column>img {
    width: 100%;
    height: 120px;
    object-fit: contain;
}

.my-order-list .product-name-column {
    width: 15%;
}

.my-order-list .order-quantity-column {
    width: 10%;
}

.my-order-list .unit-price-column {
    width: 10%;
}

.my-order-list .total-price-column {
    width: 10%;
}

.my-order-list .order-status-column {
    width: 5%;
}

.my-order-list .tracking-number-column {
    width: 10%;
}

.my-order-list .action-column {
    width: 15%;
}

.order-status-column.processing {
    color: red;
}

.order-status-column.shipping {
    color: blue;
}

.order-status-column.completed {
    color: green;
}

.action-column .action-button {
    display: inline-block;
    padding: 8px 10px;
    border-radius: 0.25rem;
    background-color: var(--clr-primary);
    color: white;
    cursor: pointer;
}

.action-column .action-button:hover {
    background-color: var(--clr-primary-dark);
}

.comment-dialog {
    top: 50%;
    /* Position the dialog at the center vertically */
    left: 50%;
    /* Position the dialog at the center horizontally */
    transform: translate(-50%, -50%);
    /* Center the dialog */
    z-index: 10;
    border: 1px solid var(--clr-secondary-400);
    box-shadow: 2px 2px 12px var(--clr-secondary-400);
    background-color: white;
    border-radius: 0.5rem;
    overflow: auto;
    /* Add scrollbars if content overflows */
}

.dialog-container {
    padding: 1rem;
    min-width: 500px;
    max-width: 800px;
}

.dialog-container h2 {
    margin-bottom: 0.5rem;
}

.dialog-container p {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.dialog-container .content {
    font-weight: normal;
}

.dialog-container textarea{
    background-color: var(--clr-secondary-background);
    color: var(--clr-secondary-text);
    padding: 0.25rem;
}

.comment-dialog .button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.comment-dialog .button-container .action-button {
    border: 1px solid transparent;
    padding: 10px 12px;
    border-radius: 0.5rem;
}

.comment-dialog .button-container .action-button:first-child {
    margin-right: 0.5rem;
    background-color: var(--clr-secondary-100);
    border: 1px solid black;
}

.comment-dialog .button-container .action-button:first-child:hover {
    background-color: var(--clr-secondary-900);
    border: 1px solid var(--clr-secondary-400);
    color: white;
}

.comment-dialog .button-container .action-button:first-child:active {
    background-color: var(--clr-secondary-900);
    color: white;
}

.comment-dialog .button-container .action-button:last-child{
    color: white;
    background-color: var(--clr-primary);
    font-weight: bold;
}

.comment-dialog .button-container .action-button:last-child:hover{
    background-color: var(--clr-primary-dark);
    border: 1px solid var(--clr-primary-900);
}

.comment-dialog .button-container .action-button:last-child:active{
    background-color: var(--clr-primary-dark);
}



/* Ratings */
.ratings-section{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.ratings-section > p{
    margin: 0;
    margin-right: 0.3rem;
    font-weight: bold;
}

.comment-ratings{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.comment-ratings i {
    cursor: pointer;
    transition: color .2s transform .2s;
    font-size: 1rem;
}

.comment-ratings i:hover {
    color: orange;
    transform: scale(1.3);
    /* Change from regular to solid */
    content: "\f005"; 
    font-family: "Font Awesome 6 Free";
    font-weight: 900; 
}

.comment-ratings i[data-clicked]:before,
.comment-ratings i[data-clicked] ~ i:before{
    content: "\f005";
    font-family: "Font Awesome 6 Free"; 
    font-weight: 900;
    color: orange;
}

.comment-ratings i:hover:before,
.comment-ratings i:hover ~ i:before {
    content: "\f005"; 
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    color: orange;
}

/* Reset regular icons */
.comment-ratings i:before {
    content: "\f006";
    font-family: "Font Awesome 6 Free"; 
    font-weight: 400; 
}

.comment-dialog #commentInput {
    margin-top: 0.5rem;
    width: 100%;
    height: 100px;
    resize: none;
    border-radius: 0.25rem;
}