
/* Override the layout */
#list > li > a > i.fa-solid.fa-right-from-bracket{
    transform: scale(-1);
}

/* Generic Class for Edit Button and Delete Button */
.edit-btn{
    background-color: transparent;
    color: #091AD7;
}

.edit-btn:hover{
    color: #3B4BF7;
}

.edit-btn:active{
    color: #061188;
}

.delete-btn{
    background-color: transparent;
    color: #FF0909;
}

.delete-btn:hover{
    color: #FF2C2C;
}

.delete-btn:active{
    color: #C20000;
}

/* Profile Section */

#profile-section{
    width: 88%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Navigate button style for general */
#navigate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-basis: 20%;
    border-radius: 1rem;
    border: 1px solid var(--clr-secondary-400);
    box-shadow: 2px 2px 12px var(--clr-secondary-400);
}

#navigate > button{
    font-size: 1.5rem;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    background-color: var(--clr-secondary-background);
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color .2s;
}

#navigate > button:focus{
    background-color: var(--clr-secondary-400);
}

#navigate > button:hover{
    background-color: var(--clr-secondary-400);
}

#navigate > button:active{
    background-color: var(--clr-primary-dark);
    color: white;
}

#navigate > button[data-active]
{
    background-color: var(--clr-primary);
    color: white;
}

/* Navigate button style for specific button */

#navigate > #my-profile{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#navigate > #logout{
    color: red;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/* Title Container */
.title-container{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Control Panel */
.control-panel{
    display: block;
    flex-basis: 75%;
    background-color: var(--clr-secondary-background);
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--clr-secondary-400);
    box-shadow: 0 0 12px var(--clr-secondary-400);
}


.control-container{
    display: block;
}
/* Control for Each Page */

/* My Profile */

/*General Form Design */

/* Profile Container */
.profile-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.profile-form-field{
    margin-bottom: 1rem;
}

.profile-form-field .input-box{
    width: 100%;
    margin-top: 5px;
    background: #ffffff;
    display: flex;
    padding: 4px 4px;
    border-radius: 0.5rem;
    align-items: center;
    border: 1px solid transparent;
}

.input-box > input{
    display: block;
    width: 100%;
    height: 15pt;
}

.input-box i {
    font-size: 1rem;
    cursor: pointer;
    display: none;
}


.form-section input[type="submit"]
{
    padding: 10px 20px;
    background-color: var(--clr-primary);
    color: white;
    border-radius: 1rem;
    cursor: pointer;
}

.form-section input[type="submit"]:hover
{
    padding: 10px 20px;
    background-color: var(--clr-primary-800);
    color: white;
    border-radius: 1rem;
    cursor: pointer;
}

.form-section input[type="submit"]:active{
    background-color: var(--clr-primary-800);
}

/* Information Section */
#change-information-section{
    flex-basis: 50%;
    padding: 1rem;
}


/* Password Section */
#change-password-section{
    flex-basis: 50%;
    padding: 1rem;
}

#change-password-section > h1{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.input-box i{
    font-size: 1rem;
    cursor: pointer;
    display: none;
}

.input-box.focused i{
    display: block;
}

.input-box i:hover{
    opacity: 0.65;
}

.input-box.focused{
    border: 1px solid black;
}