 /*Override Layout css*/
 #myNav{
    position: relative;
}

/*For MS Edge Browser */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

main{
    margin-top: 0;
    padding-bottom: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}

 
 /* CSS FOR REGISTER PAGE*/
.form-container {
    font-family: Arial, sans-serif;
    margin: 50px auto;
    /* Centering the form vertically */
    width: 420px;
    padding: 20px;
    border: 1px solid var(--clr-secondary-400);
    border-radius: 20px;
    box-shadow: 0 0 8px var(--clr-secondary-400);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-secondary-background);
}

#register-form {
    width: 80%;
}

.field-container {
    margin-bottom: 16px;
}

/* CSS for the form labels and inputs */
.field-container input[type="text"],
.field-container input[type="email"],
.field-container input[type="password"] {
    display: block;
    width: 100%;
    height: 15pt;
}

/* CSS for the submit button */
.form-container button[type="submit"] {
    background-color: var(--clr-primary);
    border-radius: 8px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
}

.form-container button[type="submit"]:hover{
    background-color: var(--clr-primary-dark);
}

/* CSS for the input box */

.input-box i{
    font-size: 1rem;
    cursor: pointer;
    display: none;
}

.input-box.focused i{
    display: block;
}

.input-box i:hover{
    opacity: 0.65;
}

.input-box{
    margin-top: 5px;
    background: #ffffff;
    display: flex;
    padding: 4px 4px;
    border-radius: 5px;
    align-items: center;
    border: 1px solid transparent;
}

.input-box.focused{
    border: 1px solid black;
}


/* CSS for the title of the box */
.form-title {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
} 

.form-title::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ebd5d5;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.radio-container {
    display: flex;
    justify-content: space-evenly;
}

.sign-up-container > p{
   margin-bottom: 10px;
}

.sign-up-container{
   margin-bottom: 16px;
}

#register-form > p {
    text-align: center;
}

 /* Override the dropdown navigation bar height in layout.css*/
.dropdown-nav-bar.open{
    height: 90px;
}

@media (width < 500px){
    .form-container{
        width: 80%;
    }
}